// LAYOUT
//-----------------------------
.main-layout {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.main-content{
  padding: 2.5rem;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 2.5rem;
}

.nav--side-menu {
  margin: 0;
  padding-top: 5rem;
  border-right: 1px solid rgba(0, 0, 0, .14);
}

.nav--side-menu > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  position: sticky;
  top: -1px;
}

.nav--side-menu > ul a {
  display: block;
  font-size: 22px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  padding: 0 32px;
  border-top: 1px solid var(--color-border);
  transition: text-indent 200ms, border-color 200ms;
  position: relative;
}

.nav--side-menu li > a:hover,
.nav--side-menu li > a.active{
  text-indent: 1em;
  border-color: #fff;
  background-color: var(--color-border);
}

.nav--side-menu li > a.active:after {
  content: "";
  position: absolute;
  right: -15px;
  width: 30px;
  background-color: var(--color-border);
  height: 100%;
}

// PAGE
//-----------------------------
.page-sidebar{
  background-color: var(--color-gray-light);
  margin-top: -2.5rem;
  margin-right: -2.5rem;
  margin-bottom: -2.5rem;
  padding: 2.5rem;
}

.page-sidebar__inner{
  position: sticky;
  top: 0;
}
