/** VARIABLES */
.six-admin {
    --font-family: 'Raleway', sans-serif;
    --font-text-size: 20px;
    --color-dark: #263238;
    --color-border: #f3f3f3;
    --color-theme: #45c5fa
}

/** LAYOUT */
.six-admin *,
.six-admin *:before,
.six-admin *:after{
    box-sizing: border-box;
}

.six-admin {
    font-family: var(--font-family);
    display: flex;
    min-height: 100vh;
    color: var(--color-dark);
    font-size: var(--font-text-size);
}

.six-admin a {
    color: inherit;
    text-decoration: none;
}

.six-admin button,
.six-admin input,
.six-admin textarea{
    font-family: inherit;
    font-size: inherit;
}

.six-admin input:focus,
.six-admin textarea:focus{
    outline-color: var(--color-theme);
}

.main-layout {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.main-content{
    padding: 2rem;
}

.nav--side-menu {
    margin: 0;
    padding-top: 5rem;
    border-right: 1px solid rgba(0, 0, 0, .14);
}

.nav--side-menu > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav--side-menu > ul a {
    display: block;
    font-size: 22px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    padding: 0 32px;
    border-top: 1px solid var(--color-border);
    transition: text-indent 200ms, border-color 200ms;
    position: relative;
}

.nav--side-menu li > a:hover,
.nav--side-menu li > a.active{
    text-indent: 1em;
    border-color: #fff;
    background-color: var(--color-border);
}

.nav--side-menu li > a.active:after {
    content: "";
    position: absolute;
    right: -15px;
    width: 30px;
    background-color: var(--color-border);
    height: 100%;
}

/** SECTIONS */
.page-section{
    margin-bottom: 1rem;
}

.page-section input,
.page-section textarea{
    border: 2px var(--color-border) solid;
    display: block;
    width: 100%;
    padding: 1rem;
}
.page-section textarea{
    min-height: 10rem;
    resize: none;
}
