.button{
  background-color: var(--color-theme);
  padding: 1rem 1.5rem;
  border: none;
  color: #ffffff;
}

.button--block{
  display: block;
  width: 100%;
}

.buttons-wrapper{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
